body{
    background-color: rgb(150, 150, 150);
}

.content {
    margin:10px;
    text-align: center;
}

.parse-btn {
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
}

/*
----------------------------------------------------------
The code editor
reagent function::          code-editor
----------------------------------------------------------
*/

.editor {
    height: 400px;
    margin: 10px;
    width: 600px;
}

.source-editor-header {
    background-color: rgb(34, 34, 34);
    border: 1px black solid;
    color: white;
    height: 25px;
    padding-left: 5px;
    text-align: left;
    vertical-align: middle;
}

.text-editor-line-nos {
    background-color: rgb(18, 18, 19);
    border-right: 0px;
    color:rgb(150, 150, 150);
    float: left;
    font-size: 14px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    resize: none;
    text-align: center;
    width: 45px;
}

.text-editor {
    background-color: rgb(29, 29, 29);;
    border-left: 0px;
    color: rgb(97, 192, 255);
    float: left;
    font-size: 14px;
    height: 100%;
    margin: 0 auto;
    resize: none;
    width: 555px;
}

textarea:focus { 
    outline: none !important;
    border-color: black;
}

/*
----------------------------------------------------------
The parsed code control
reagent function::          code
----------------------------------------------------------
*/

.breakpoint {
    cursor: pointer;
    width: 25px;
    text-align: center;
    text-shadow: 0 0 2px #000;
}

.breakpoint-indicator {
    background-color: rgb(224, 75, 75);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 25px;
}

.code { 
    border-bottom: 1px solid rgb(46, 46, 46);
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

.code-container {
    border: 1px rgb(51, 51, 51) solid;
<<<<<<< HEAD
    height: 400px;
    max-width: 1000px;
    min-width: 1000px;
    overflow: auto;
    width: 100%;
=======
    height: 425px;
    margin: 10px;
    max-width: 1000px;
    min-width: 1000px;
    overflow: auto;
    width: 1000px;
>>>>>>> 7c6035e4298a1da3cc9f8039115d74e442a71da9
}

.code-line {
    max-height: 25px;
}

.current-line {
    background-color: goldenrod;
}

.code-eip {
    width: 25px;
}

.instruction {
    color: darkblue;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    width: 50px;
}

.line-number {
    background-color: grey;
    border-right: 2px solid black;
    border-left: 2px solid black;
    color: white;
    text-align: center;
    width: 45px;
}

.parsed-code-header {
    background-color: rgb(34, 34, 34);
    border: 1px black solid;
    color: white;
    height: 25px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.register {
    color: darkmagenta;    
    font-weight: bold;
    text-align: left;
    min-width: 30px;
}

.value {
    border-right: 1px solid black dashed;
    color: black;
    font-weight: normal;
    text-align: left;
    min-width: 30px;
}

/*
----------------------------------------------------------
The buttons for play / pausing / stopping code flow.
The instructions / second selector.

reagent function::          execution-controls

----------------------------------------------------------
*/

.execution-controls {
    margin: 10px;
    text-align:  left;
}

.instr-per-sec {
    margin-left: 40px;
    text-align: right;
    vertical-align: middle;
    width: 100px;
}

.next-instruction {
    color: black;
    margin-left: 10px;
}

.next-instruction[disabled] {
    background-color: darkgray;
    border: 1px solid grey;
}

.play-pause {
    color: black;
}

.play-pause[disabled] {
    background-color: darkgray;
    border: 1px solid grey;
}

.speed-label {
    margin-left: 10px;
    vertical-align: middle;
}

.stop-button {
    color: black;
    margin-left: 10px;
}

.stop-button[disabled] {
    background-color: darkgray;
    border: 1px solid grey;
}
/*
----------------------------------------------------------
The registers section

reagent function::          memory, eip

----------------------------------------------------------
*/
.eip {
    background-color: white;
    border-right: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    color: black;
    text-align: center;
    vertical-align: middle;
    width: 125px;
}

.eip-container {
    float: left;
    margin: 0;
    text-align: left;
    width: 100%;
}

.eip-header {
    background-color: rgb(46,43,43);
    border: 1px black solid;
    color:white;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.registers-container {
    text-align: left;
    width: 225px;
}

.registers-header {
    background-color: rgb(46, 43, 43);
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    color:white;
    height: 30px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 225px;
}

.registers-list {
    background-color: gray;
    border: 1px solid black;
    height: 350px;
    max-height: 350px;
    max-width: 225px;
    min-height: 350px;
    min-width: 225px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 225px;
}

.register-name {
    background-color: grey;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin-left: 10px;
    text-align: center;
    width: 102px;
}

.register-value {
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    width: 108px;
}

.register-updated {
    background-color: yellow;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(225px, auto);
    grid-gap: 0px;
    margin: 12px;
    height: 380px;
    width: 650px;
}

.stack-container {
    text-align: left;
    width: 125px;
}

.stack-header {
    background-color: rgb(46, 43, 43);
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    color:white;
    height: 30px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 125px;
}

.stack-list {
    background-color: gray;
    border: 1px solid black;
    height: 350px;
    max-height: 350px;
    max-width: 125px;
    min-height: 350px;
    min-width: 125px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 125px;
}

.stack-value {
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    width: 120px;
}

.symbol-table-container {
    text-align: left;
    width: 200px;
}

.symbol-table-header {
    background-color: rgb(46, 43, 43);
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    color:white;
    height: 30px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: 200px;
}

.symbol-table {
    border: 1px solid black;
    height: 350px;
    max-height: 350px;
    max-width: 200px;
    min-height: 350px;
    min-width: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 200px;
}

.symbol-name {
    background-color: gray;
    border-bottom: 1px solid black;
    text-align: center;
    width: 94px;

}

.symbol-value {
    background-color: white;
    border-bottom: 1px solid black;
    text-align: right;
    width: 100px;
}

.breakpoint-label {
    margin-left: 25px;
    vertical-align: middle;
}