body{
    background-color: #434c5e;
    color: #dededc;
}

.board {
    width: 904px;
    height: 904px;
    border: 4px solid #353c4a;  
    margin: 0px;
    padding: 0px;
    background-color: #353c4a;        
}

.unrevealed-cell {
    background-color: #babdb6;
    display: inline;
    text-align: center;
}

.revealed-cell {
    background-color: #dededc;
}

.board-cell {
    border: 2px solid #353c4a;
    cursor: pointer;
    display: flex;
    padding: 2px;
}

.unrevealed-cell:hover {
    background-color: #dededc;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
}

.flex-container > div {
    margin: 0px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    padding: 0px;
}

.number {
    display: block;
    text-align: center;
    font-size: 1em;
}

.game-over {
    color: red;
    font-size: 2.5em;
    display: none;
}

.mines {
    font-size: 2.5em;
    text-align: center;
}

.flag {
    color: #811313;
    text-align: center;
    display: block;
    font-size: 1.0vw;
    height: auto;
    width: auto;
}

.debug {
    color: #929292;
}