body{
    background-color:lightsteelblue;
}
.content {
    text-align: center;
    margin:10px;
}


.letter {
    padding: 5px;
    margin: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    /*background-color: #f1f1f1;*/
    width: 50px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

ul.no-bullets {
    list-style: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

.winners-count {
    margin-left: 15px;
}