body{
    background-color:lightsteelblue;
}
.content {
    text-align: center;
    margin:10px;
}

.canvas {
    border: 3px black solid;
}

.result {
    border: 2px black solid;
    background-color:yellow;
}

.btn{
    margin: 10px;
}