/*
#8fbcbb
#88c0d0
#81a1c1
#5e81ac

#d8dee9
#e5e9f0
#eceff4

#2e3440
#3b4252
#434c5e
#4c566a

#bf616a
#d08770
#ebcb8b
#a3be8c
#b48ead
*/
@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

body {
    background-color: #2e3440;
    color: #d8dee9;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    color: #d8dee9;
}

.mr-5 {
    margin-right: 5px;
}

.mr-6 {
    margin-right: 6px;
}

.mr-7 {
    margin-right: 7px;
}

.mr-9 {
    margin-right: 9px;
}

.content {
    text-align: center;
    margin:10px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
}

.ptr {
    cursor: pointer;
}

.flex-container > div {
    margin: 0px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    padding: 0px;
}

.table {
    color: #d8dee9;
}

.calendar-header,
.calendar-header-month {
    text-align: center;
}

.calendar-header {
    font-size: 2em;
}

.calendar-header-month {
    color: #d8dee9;
    min-width: 350px;
    display: inline-block;
}

.chevron-right {
    padding-left: 30px;
}

.chevron-left {
    padding-right: 30px;
}

.day-initials {
    display: flex;
    font-weight: bold;
    font: 0.8em;
    margin-top: 5px;
    margin-bottom: 1px;
    background: #f0f0f0;
    color: #000000;
    border-bottom: 1px solid #f3f3f3;
}

.calendar-month {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 20px;
    width: fit-content;
}

.month-title  {
    display: inline;
    text-align: center;
}

.week {
    display: flex;
    flex-direction: row;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    padding-bottom: 3px;
}

.initial-day {
    flex: 1;
    text-align: center;
}

.daybox {
    flex: 1;
    min-width: 42px;
    max-width: 42px;
    min-height: 25px;
    max-height: 25px;
    font-weight: 0.8em;
    text-align: center;
    position: relative;
}

.day {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.calendar-grid {
    display: flex;
    grid-template-columns:  1;
    grid-template-rows:  1;
    gap:  20px;
}

.calendar-year {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.legend {
    flex: 0 0 auto;
    display: flex;
    min-width: 200px;
    padding-top: 20px;
    flex-direction: column;
}

.legend-entry {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
}

.legend-key {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px

}

.current-months-events {
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.current-months-events-entry {
    display: flex;
    flex: 0 0 auto;
    gap: 1px;
    padding: 5px 0;
}

.current-months-events-entry-date {
    flex: 0 0 auto;
}

.current-months-events-entry-name {
    flex: 0 0 auto;
    margin-left: 10px;
}

.calendar-selectors {
    float: right;
    padding-right: 50px;
}

.la {
    text-align: left;
}