body{
    background-color: #434c5e;
    color: #dededc;
}

.board {
    width: 708px;
    height: 708px;
    border: 4px solid #353c4a;  
    margin: 0px;
    padding: 0px;
    background-color: #353c4a;    
    display: flex;
    flex-wrap: wrap;    
    position: relative;
}

.concave {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.2);
    border-radius: 50%;
    overflow: hidden; /* This will ensure the marble doesn't overflow the cell */
}

.inactive {
    width: 100px;
    max-width: 100px;
    background-color: #353c4a !important;
    cursor: default !important;
}

.marble {
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.red {
    background-color: #ff0e0e;
    border-radius: 50%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.green {
    background-color: #21ff15;
    border-radius: 50%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.blue {
    background-color: #0e2df2;
    border-radius: 50%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.yellow {
    background-color: #f7f73d;
    border-radius: 50%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.orange {
    background-color: #ff9d00;
    border-radius: 50%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.pink {
    background-color: #ff00dd;
    border-radius: 50%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.cyan {
    background-color: #00eaff;
    border-radius: 50%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.purple {
    background-color: #8800ff;
    border-radius: 50%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.guessed-green {
    background-color: #647163;
    border-radius: 50%;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
}

.board-cell {
    display: flex;
    border: 2px solid #032a7a;
    cursor: pointer;
    background-color: #848689;
    padding: 2px;
    width: 60px;
    max-width: 60px;
    height: 60px;
    max-height: 60px;
    text-align: center;
    position: relative; /* Add this if not already present */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    background: linear-gradient(135deg, #8e8e8e, #c0c0c0);
}

.inactive {
    background-color: rgb(61, 61, 61) !important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
    background: linear-gradient(135deg, #4b4646, #2f2d2d) !important;
}

.check-guess {
    font-size: 3.3em;
    padding: 2px;
    color: #1ee17d;
}

.check-guess-holder {
    background-color: #434c5e;
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    max-width: 60px;
    height: 60px;
    max-height: 60px;
    padding: 2px;
    cursor: pointer;
}

.guess-cell {
    display: flex;
    border: 2px solid #032a7a;
    cursor: pointer;
    background-color: #848689;
    padding: 2px;
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    max-width: 60px;
    height: 60px;
    max-height: 60px;
    text-align: center;
    position: relative; /* Add this if not already present */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    background: linear-gradient(135deg, #8e8e8e, #c0c0c0);
}

.clue-grid {
    width: 70px;
    height: 60px;
    display: grid;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #6a91df;
    border: 2px solid #032a7a;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.solution-row {
    margin-top: 30px;
}

.wrong {
    font-size: 0.5em;
    margin-left: 4px;
    color: black !important
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-154%, -122%);
    z-index: 10;
    font-size: 3em;
    color: red;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-190%, -122%);
    z-index: 10;
    font-size: 3em;
    color: rgb(0, 106, 255);
    background: rgba(12, 206, 245, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}