body{
    background-color: #434c5e;
    color: #dededc;
}

.board {
    width: 708px;
    height: 708px;
    border: 4px solid #353c4a;  
    margin: 0px;
    padding: 0px;
    background-color: #353c4a;    
    display: flex;
    flex-wrap: wrap;    
    position: relative;
}

.concave {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.2);
    border-radius: 50%;
    overflow: hidden; /* This will ensure the marble doesn't overflow the cell */
}

.inactive {
    width: 100px;
    max-width: 100px;
    background-color: #353c4a !important;
    cursor: default !important;
}

.marble {
    width: 80px;
    height: 80px;
    background: radial-gradient(circle at 30% 30%, #fff, #2dbd2b 65%);
    border-radius: 50%; /* This makes the div circular */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This centers the marble in the cell */
    box-shadow: inset -2px -2px 30px 0px rgba(0,0,0,0.8), 
                inset 2px 2px 30px 0px rgba(255,255,255,0.3);
}

.board-cell {
    display: flex;
    border: 2px solid #353c4a;
    cursor: pointer;
    background-color: #848689;
    padding: 2px;
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    text-align: center;
    position: relative; /* Add this if not already present */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    background: linear-gradient(135deg, #8e8e8e, #c0c0c0);
}

.target {
    display: flex;
    border: 3px solid #0bff44;
    cursor: pointer;
    padding: 2px;
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    text-align: center;
    position: relative; /* Add this if not already present */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    background: linear-gradient(135deg, #8e8e8e, #3df768);
}

.selected {
    display: flex;
    border: 3px solid #eeff00;
    cursor: pointer;
    padding: 2px;
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    text-align: center;
    position: relative; /* Add this if not already present */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    background: linear-gradient(135deg, #8e8e8e, #f7f73d);
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-154%, -122%);
    z-index: 10;
    font-size: 3em;
    color: red;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-190%, -122%);
    z-index: 10;
    font-size: 3em;
    color: rgb(0, 106, 255);
    background: rgba(12, 206, 245, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}